@font-face {
    font-family: 'LeageSpartan';
    src: url(../fonts/LeagueSpartan-VariableFont_wght.ttf);
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: white;
    color: white;
    font-family: LeageSpartan, Helvetica, sans-serif, Arial;
    margin: 0;
    padding: 0;
}

.nav-list {
    margin: 0;
    padding: 3%;
    background: #008CBA;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 40px;
    text-decoration: solid;
    font-size: 30px;
    font-weight: bold;
}

.nav-item a {
    text-decoration: none;
    color: white;
}

.nav-item:first-child{
    margin-right:auto;
    margin-left: 15%;
}

.nav-item:last-child{
    margin-right:15%;
}

.main-page {
    background: white;
    padding-top: 30px;
    width: 100%;
}

.bio {
    display: flex;
    justify-content:center;
    width: 100%;
}

.crop {
    background-image: url("../Pictures/myface.png");
    background-size: 350px;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 5px solid #008CBA;
}

.bio p {
    font-size: 30px;
}

.text{
    display: table;
    width: 45%;
    color: black;
}

.text p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.text-link{
    color: blue;
}
.text-link:hover{
    color:blue;
}

.featured {
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.featured figure {
    margin-right: 250px;
    width: 200px;
    position: relative;
}

.overlay {
    position: absolute;
    opacity:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    border-radius: 10px;
}

.overlay-right {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(100%, -50%);
    -ms-transform: translate(-50%, -50%);
}

figure:hover .overlay {
    width: 100%;
    opacity: 1;
}
figure:hover .overlay-right{
    opacity: 1;
}
figure:hover img {
    opacity: .2;
}

.overlay-text {
    white-space: nowrap;
    color: white;
    font-size: 25px;
    position: relative;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-weight: bold;
}

.ov-text-right{
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.featured figure img {
    width: 400px;
    height: 250px;
    border-radius: 10px;
    display: block;
    border: 5px solid #008CBA;
}

a {
    color: white;
}

a:hover {
    transition: .5s ease;
    color: darkslategrey;
}

section {
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

footer {
    background: #008CBA;
    padding: 10px 20px;
}

.project {
    max-width: 100%;
    position: relative;
    background: darkslategrey;
}

.project-overlay {
    position: absolute;
    opacity: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 35%;
    height: 100%;
    transition: .5s ease;
}

.project-overlay .desc {
    color: white;
    background-color: #008CBA;        
    justify-content: left;
    padding: 20px;
    font-size: 30px;
}

.p-title {
    text-decoration: underline;
}

.project:hover .project-overlay {
    opacity: 1;
}

.mySlides {
    display: none;
}


/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}

@-webkit-keyframes fade {
    from {
        opacity: .3
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .3
    }

    to {
        opacity: 1
    }
}

.resume-container {
    display:flex;
    justify-content: center;
}
.resume{
    width: 80%;
    height: 900px;
}
